* {
}

.tarjeta {
  width: 350px;
  padding: 10px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

h1{
  background-color: rgba(22, 131, 166, 0.12);
  box-shadow: 2px 2px 2px  rgb(9, 10, 20);
  margin: auto;
  color: rgb(12, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.0em;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  width: 700px;
}

form {
  background-color: 615FE8;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  height: 200px;
  width: 400px;
  margin: auto;
  background-color: rgba(22, 131, 166, 0.12);
  box-shadow: 2px 2px 2px  rgb(9, 10, 20);
  
}

#restablecer{
  width: 150px;
  height: 35px;
  background-color: rgba(171, 170, 240, 0.7);
  border: 2px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 1.30em;
  box-shadow: 2px 2px 2px  rgb(9, 10, 20);
  margin: auto;
}
#restablecer:hover {
  background-color: #2c7914;
}


button {
  width: 150px;
  height: 35px;
  background-color: rgba(171, 170, 240, 0.7);
  border: 2px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 1.30em;
  box-shadow: 2px 2px 2px  rgb(9, 10, 20);
  margin: auto;

}
button:hover {
  background-color: #2c7914;
}

.numero {
  margin: 5px;
  color: rgb(12, 10, 10);
  font-family: monospace;
  font-weight: bold;
  font-size: 1.20em;
  text-align: justify;
}

footer {
  text-align: center;
}
